In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 22
%matplotlib inline
import seaborn as sns

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

In [2]:
credit = pd.read_csv('../Data/credit_card_balance.csv').sort_values(['SK_ID_CURR', 'SK_ID_PREV']).reset_index(drop = True)

In [3]:
data = credit
data_name = 'credit'

In [4]:
data.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1489396,100006,-2,0.0,270000,NaN,0.0,NaN,NaN,0.0,...,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0
1,1489396,100006,-1,0.0,270000,NaN,0.0,NaN,NaN,0.0,...,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0
2,1489396,100006,-5,0.0,270000,NaN,0.0,NaN,NaN,0.0,...,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0
3,1489396,100006,-3,0.0,270000,NaN,0.0,NaN,NaN,0.0,...,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0
4,1489396,100006,-4,0.0,270000,NaN,0.0,NaN,NaN,0.0,...,0.0,0.0,NaN,0,NaN,NaN,0.0,Active,0,0

In [5]:
obj_feature = []
int_feature = []
float_feature = []
for col in data.columns:
    if data[col].ftype == 'object:dense':
        obj_feature.append(col)
    elif data[col].ftype == 'int64:dense':
        int_feature.append(col)
    else:
        float_feature.append(col)

In [6]:
obj_name = []
for col in obj_feature:
    tmp = data[col].unique()
    tmp_col_name = [data_name+'_'+col+'_'+str(col_) for col_ in tmp]
    obj_name.extend(tmp_col_name)

int_name = []
for col in int_feature:
    tmp_col_name = [data_name+'_'+col+'_min', data_name+'_'+col+'_max']
    int_name.extend(tmp_col_name)
    
float_name = []
for col in float_feature:
    tmp_col_name = [data_name+'_'+col+'_min', data_name+'_'+col+'_max', col+'_mean']
    float_name.extend(tmp_col_name)